<div class="main" ng-controller="MainCtrl">
    <section class="jumbotron">
        <div class="container">
            <h1>The World's Finest Writing App.</h1> 
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" ng-controller="MailchimpSubscriptionCtrl">
                <p>WriteOn is a rich, minimal writing app that allows you to focus on writing and publish with ease.</p>
                <form name="MailchimpSubscriptionForm" role="form">
                    <div class="well">
                        <div ng-hide="mailchimp.result === 'success'">
                            <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='writeon'">
                            <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us9'">
                            <input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='1d10f79fce4bc733309cc414e'">
                            <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='394a92541e'">
                            <div class="visible-xs-block">
                                <div class="form-group">
                                    <input type="email" name="email" ng-model="mailchimp.email" class="form-control" placeholder="email@example.com" required>
                                </div>
                                <button ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="addSubscription(mailchimp)" class="btn btn-primary btn-block" type="button">Get Started</button>
                            </div>
                            <div class="input-group input-group-lg hidden-xs">
                                <input type="email" name="email" ng-model="mailchimp.email" class="form-control" placeholder="email@example.com" required>
                                <span class="input-group-btn">
                                    <button ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="addSubscription(mailchimp)" class="btn btn-primary" type="button">Get Started</button>
                                </span>
                            </div>
                        </div>

                        <!-- Show success message if MailChimp returned successfully. -->
                        <div ng-show="mailchimp.result === 'success'" ng-cloak>
                            <p><strong>W00t, you're signed up!</strong>  <span ng-bind-html="mailchimp.successMessage"></span>
                            </p>
                        </div>
                    </div>

                    <small>
                        <em>WriteOn is, and always will be, free to use for as long as you would like.</em>
                    </small>

                    <!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
                    <div ng-show="mailchimp.result === 'error'" class="alert alert-info alert-dismissible" role="alert" ng-cloak>
                        <strong>Aw, shucks. You're so sweet!</strong>
                        <br />
                        <span ng-bind-html="mailchimp.errorMessage"></span>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="bg-primary padding-vertical-sm">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
                    <h1 class="text-capitalize">WriteOn is built for authors.</h1> 
                    <p class="lead">Jack Kerouac typed <em>On the Road</em> on a single roll of paper so he would not be interrupted. Ernest Hemingway wrote standing up. J.R.R. Tolkien liked to write from his attic and even stated in his foreword to <em>Lord of the Rings</em> that “the cost of professional typing by the ten-fingered was beyond [his] means.”</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 padding-vertical-md text-center">
                    <h1>
                        <span class="text-capitalize">Focus on writing</span><br />
                        <small class="text-muted">in a rich, yet minimal interface.</small>
                    </h1>
                    <br />
                    <img class="img-responsive center-block" src="/images/main/syntax-highlighting.gif" />
                    <p>We've refined the typical writing interface, stripping away distractions, leaving a simple, yet powerful writing tool allowing writers to focus on the writing. We like to think of WriteOn as a modern-day typewriter.</p>
                </div>
            </div>
            <div class="row padding-vertical-md">
                <div class="col-md-8 col-md-offset-2 padding-vertical-md text-center">
                    <h1>
                        <span class="text-capitalize">Publish with ease</span><br />
                        <small class="text-muted">to popular online platforms.</small>
                    </h1>
                    <br />
                    <img class="img-responsive center-block" src="/images/main/publish.png" />
                    <p>Publish to Blogger, GitHub, Gist, Tumblr, and WordPress or upload to Google Drive and Dropbox straight through WriteOn. Publish in <a href="https://help.github.com/articles/github-flavored-markdown/" target="_blank" title="GitHub Flavored Markdown">markdown</a>, HTML, or through a custom template using our templating engine. All directly through WriteOn.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary">
        <div class="container">
            <div class="row text-center padding-vertical-md">
                <div class="col-sm-10 col-sm-offset-1">
                    <p class="lead">Writing and Publishing is just the tip of the iceberg. WriteOn also has features like collaboration, commenting, and writing offline.</p>
                    <br />
                    <a class="btn btn-lg" type="button" href="#/features">
                        <span class="glyphicon glyphicon-align-left hidden-xs" aria-hidden="true"></span> See <span class="hidden-xs">all of</span> WriteOn features
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row text-center padding-vertical-lg">
                <img class="img-responsive center-block" src="/images/logo_lg.png" />
                <h1>Write. Publish. Period.</h1>
                <br />
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" ng-controller="MailchimpSubscriptionCtrl">
                    <form name="MailchimpSubscriptionForm" role="form">
                        <div class="well">
                            <div ng-hide="mailchimp.result === 'success'">
                                <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='writeon'">
                                <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us9'">
                                <input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='1d10f79fce4bc733309cc414e'">
                                <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='394a92541e'">
                                <div class="visible-xs-block">
                                    <div class="form-group">
                                        <input type="email" name="email" ng-model="mailchimp.email" class="form-control" placeholder="email@example.com" required>
                                    </div>
                                    <button ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="addSubscription(mailchimp)" class="btn btn-primary btn-block" type="button">Get Started</button>
                                </div>
                                <div class="input-group input-group-lg hidden-xs">
                                    <input type="email" name="email" ng-model="mailchimp.email" class="form-control" placeholder="email@example.com" required>
                                    <span class="input-group-btn">
                                    <button ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="addSubscription(mailchimp)" class="btn btn-primary" type="button">Get Started</button>
                                </span>
                                </div>
                            </div>

                            <!-- Show success message if MailChimp returned successfully. -->
                            <div ng-show="mailchimp.result === 'success'" ng-cloak>
                                <p><strong>W00t, you're signed up!</strong>  <span ng-bind-html="mailchimp.successMessage"></span>
                                </p>
                            </div>
                        </div>

                        <small>
                            <em>WriteOn is, and always will be, free to use for as long as you would like.</em>
                        </small>

                        <!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
                        <div ng-show="mailchimp.result === 'error'" class="alert alert-info alert-dismissible" role="alert" ng-cloak>
                            <strong>Aw, shucks. You're so sweet!</strong>
                            <br />
                            <span ng-bind-html="mailchimp.errorMessage"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>